/*@media (max-width:767px){

}

@media (min-width:768px) and (max-width:991px){

}

@media (min-width:992px) {

}

@media (min-width:1200px) {

}

.nav-link{
  list-style: none;
}

.gallery {
  margin: 5px;
/*  float: left;
display: inline-block;
}

 .gallery:hover {
  border:none;
}

.desc {
  padding: 15px;
  text-align: center;
}

.box-sizing{
  border-box;
}

.serif {
font-family: "Times New Roman", Times, serif;

}
*/

.icons{
  float: right;
  text-align: right;
}
